html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  position: relative;
  height: 100%;
}

body {
  text-align: center;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
}


.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.aubay-toolbar {
  background: #e9580b;
  color: #fff;
}
